article.program-dialog {
  border: 2px solid var(--normal);
  border-radius: 8px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.program-dialog .font-mini-text span {
  font-weight: bold;
}

.program-dialog > .nav {
  display: flex;
  align-items: center;
}

.program-dialog > .nav > button {
  background-color: transparent;
  width: fit-content;
  color: var(--normal);
}

.program-dialog > .nav > button:last-of-type {
  margin-left: auto;
}

.program-dialog > .header {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: flex-start;
}
@media (max-width: 1200px) {
  .program-dialog > .header {
    flex-direction: column;
    align-items: center;
  }
}

.program-dialog > .header .img {
  flex: 1;
  height: auto;
}

@media (max-width: 1200px) {
  .program-dialog > .header .img {
    width: auto;
    min-height: 200px;
  }
}

.program-dialog > .header .info {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  display: flex;
}

.program-dialog > .header .info .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.program-dialog > .main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.program-dialog > .main .inline {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.program-dialog > .main .candidates {
  display: flex;
  flex-direction: column;
}

.program-dialog > .main .candidates .candidate {
  display: flex;
  align-items: center;
  padding: 12px 12px;
  gap: 10px;
}

.program-dialog > .main .candidates .candidate:not(.approved) {
  cursor: pointer;
}

.program-dialog > .main .candidates .candidate:not(.approved):hover {
  background-color: #e7e7e7;
}

.program-dialog > .main .candidates .candidate input {
  width: 20px;
  height: 20px;
}

.program-dialog > .main .candidates .inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.program-dialog > .main .candidates .candidate svg {
  margin-left: auto;
  color: #d1d1d1;
}

.program-dialog > .actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.program-dialog > .actions .select-users:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.program-dialog > .actions .inline {
  display: flex;
  gap: 10px;
}

@media (max-width: 600px) {
  .program-dialog > .actions .inline {
    flex-direction: column;
  }

  .program-dialog > .actions .inline .button {
    width: 100%;
  }
}

.program-dialog > .actions .inline .s {
  flex: 1;
}

.program-dialog > .actions .inline .m {
  flex: 2;
}

.program-dialog > .actions .inline .l {
  flex: 3;
}
